__pycache__/
#any file that is a hidden dot file
.*
!.gitignore
#any file w extension sepearted value and ? means any kind of sv so c,t, etc
*.?sv
*.npy
#any NIFTI/CIFTI file
*.?ii
*.txt
*.surf
*.pt
*.pht
*err.*
*out.*
*error.*
*.lst
*sub-*
*sub_*
#directories
batch/
